<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igding.practiccustomview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HencoderPracticTotalActivity"></activity>

        <activity android:name=".activity.hencoder1.HencoderPractic1Activity"></activity>

        <activity android:name=".activity.hencoder3.HencoderPractic3Activity"></activity>

        <activity android:name=".activity.hencoder4.HencoderPractic4Activity"></activity>

        <activity android:name=".activity.hencoder5.HencoderPractic5Activity"></activity>

        <activity android:name=".activity.hencoder6.HencoderPractic6Activity"></activity>

        <activity android:name=".activity.hencoder7.HencoderPractic7Activity"></activity>

        <activity android:name=".activity.hencoder8.HencoderPractic8Activity"></activity>

    </application>

</manifest>